{
	"singleQuote": true,
	"useTabs": true,
	"trailingComma": "all",
	"printWidth": 120,
	"editorconfig": true,
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"parser": "angular"
			}
		}
	]
}